/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-arrow-down {
  background-image: url(sprite.png);
  background-position: -206px -79px;
  width: 28px;
  height: 14px;
}
.icon-arrow-down@2x {
  background-image: url(sprite.png);
  background-position: -148px -96px;
  width: 56px;
  height: 28px;
}
.icon-book {
  background-image: url(sprite.png);
  background-position: -39px -168px;
  width: 35px;
  height: 29px;
}
.icon-book@2x {
  background-image: url(sprite.png);
  background-position: -78px 0px;
  width: 70px;
  height: 58px;
}
.icon-envelope {
  background-image: url(sprite.png);
  background-position: -206px -61px;
  width: 24px;
  height: 18px;
}
.icon-envelope@2x {
  background-image: url(sprite.png);
  background-position: -148px -60px;
  width: 48px;
  height: 36px;
}
.icon-hero-calendar {
  background-image: url(sprite.png);
  background-position: -206px -31px;
  width: 29px;
  height: 30px;
}
.icon-hero-calendar@2x {
  background-image: url(sprite.png);
  background-position: -148px 0px;
  width: 58px;
  height: 60px;
}
.icon-hero-clock {
  background-image: url(sprite.png);
  background-position: -206px 0px;
  width: 30px;
  height: 31px;
}
.icon-hero-clock@2x {
  background-image: url(sprite.png);
  background-position: -56px -60px;
  width: 60px;
  height: 62px;
}
.icon-hero-pin {
  background-image: url(sprite.png);
  background-position: -116px -60px;
  width: 28px;
  height: 34px;
}
.icon-hero-pin@2x {
  background-image: url(sprite.png);
  background-position: 0px -60px;
  width: 56px;
  height: 68px;
}
.icon-hero-statue {
  background-image: url(sprite.png);
  background-position: -206px -93px;
  width: 18px;
  height: 20px;
}
.icon-hero-statue@2x {
  background-image: url(sprite.png);
  background-position: 0px -128px;
  width: 36px;
  height: 40px;
}
.icon-logo {
  background-image: url(sprite.png);
  background-position: -36px -128px;
  width: 42px;
  height: 28px;
}
.icon-microphone {
  background-image: url(sprite.png);
  background-position: 0px -168px;
  width: 39px;
  height: 30px;
}
.icon-microphone@2x {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 78px;
  height: 60px;
}
