.promo-courses .columns-holder .col .btn-more {
    display: inline-block;
    background: #ffab00;
    padding: 5px 12px;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    bottom: 3px;
}

.promo-courses .headline p {
    margin: 0 0 30px!important;
}

.promo {
    overflow: hidden;
}

.promo-courses .columns-holder p {
    margin-bottom: 10px !important;
}

.promo-courses .columns-holder ul {
    padding-left: 20px;
}

.post-list.row-list {
    display: none
}


/*fixed-related-box*/

#fixed-related-box {
    position: fixed;
    left: 0;
    bottom: 8px;
    z-index: 100;
    width: 100%;
    display: none;
}

#fixed-related-box .holder {
    background: #fff;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 5px 15px 15px 15px;
    box-shadow: 0 0 5px #888;
}

#fixed-related-box h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#fixed-related-box .holder > h2 {
    text-align: center;
    padding: 0 0 5px;
}

#fixed-related-box .list-item {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

#fixed-related-box .list-item li {
    display: block;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    width: 32%;
    padding: 5px 0 5px 5px;
}

#fixed-related-box .list-item .photo {
    float: left;
    width: 150px;
    height: 80px;
    margin: 0 15px 0 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 4px 1px rgba(119, 119, 119, 0.75);
}

#fixed-related-box .list-item a {
    font-weight: bold;
    overflow: hidden;
    color: #0074a9;
}

#fixed-related-box .list-item h2 {
    margin: 0;
    width: auto;
    float: none;
    font-size: 12px;
}

#fixed-related-box #related-close {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 16px;
    padding: 0 0 2px;
    border: 1px solid #888;
    color: #000;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    cursor: pointer;
}


/*new home-page*/

.customize-support .nav-holder {
    margin: 0 -9999px 40px;
    height: 45px;
}

.holder:after {
    content: "";
    clear: both;
    display: block;
}

.holder {
    max-width: 940px;
    margin: 0 auto;
}

.text-block {
    padding: 19px 0 0;
    float: left;
    max-width: 340px;
    color: #272727;
    font: 24px/36px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
}

.text-block h2 {
    font: 60px/60px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    margin: 0 0 30px;
    text-transform: capitalize;
}

.text-block .list {
    max-width: 330px;
    padding: 0 0 0 41px;
    text-align: center;
}

.text-block .list li {
    display: inline-block;
    padding: 0 22px 0 0;
    position: relative;
}

.text-block .list li:first-child {
    padding: 0 19px 0 0;
}

.text-block .list li:before {
    content: "";
    background: #272727;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    top: 16px;
    left: -16px;
}

.video-block {
    float: right;
    width: 468px;
    padding: 0 3px 32px 0;
}

.video-block a {
    display: block;
    margin: 0 0 17px;
}

.video-block img {
    width: 100%;
    height: auto;
    display: block;
}

.video-block p {
    max-width: 350px;
    margin: 0 auto;
    font: 14px/15px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    text-align: center;
}

.video-block p span {
    display: block;
    font: bold 15px/15px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    margin: 0 0 9px;
}

.title-box {
    background: #0c1828 url("library/images/bg-title.jpg") no-repeat;
    text-align: center;
    margin: 0 0 60px;
    padding: 27px 0 26px;
}

.title-box1 {
    text-align: center;
    margin: 0 0 60px;
    padding: 27px 0 26px;
    background: url("library/images/img-7-1-new.jpg");
    color: #fff;
}

.title-box h3,
.title-box1 h3 {
    color: #fff;
    font: 28px/32px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    margin: 0;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.75);
}

.holder-block {
    position: relative;
    padding: 0 0 60px;
}

.holder-block:after {
    content: "";
    background: url("library/images/img-2-1.jpg") no-repeat 50% 0;
    width: 945px;
    height: 339px;
    position: absolute;
    left: 0;
    bottom: 11px;
    z-index: -1;
}

.holder-block h2 {
    color: #272727;
    font: 300 42px/46px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    margin: 0 0 44px;
    text-transform: capitalize;
    text-align: center;
}

.holder-block .list {
    list-style: none;
    margin: 0;
    text-align: center;
}

.holder-block .list:after {
    content: "";
    display: block;
    clear: both;
}

.holder-block .list li {
    float: left;
    max-width: 300px;
    margin: 0 0 0 20px;
    text-align: center;
    position: relative;
}

.holder-block .list li:first-child {
    margin: 0;
}

.holder-block .list a {
    color: #fff;
}

.holder-block .list a:hover {
    text-decoration: none;
}

.holder-block .list img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.holder-block .list span {
    position: absolute;
    left: 0;
    bottom: 19px;
    width: 100%;
    font: 24px/24px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
}

.info-block {
    background: url("library/images/img-7-1-new.jpg") no-repeat;
    background-size: cover;
    padding: 11px 0 0;
}

.info-block .text-box {
    float: left;
    max-width: 450px;
    padding: 37px 0 0;
}

.info-block .holder div:first-child {
    text-align: center;
    padding-top: 23px;
    padding-bottom: 17px;
    color: #fdff3a;
    font: 600 36px/30px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.75);
    margin: 0 0 7px;
    letter-spacing: 2px;
}

.info-block.course {
    padding-top: 30px;
    margin-bottom: 30px;
    background: #0b1729 url("library/images/bg_image1.jpg") no-repeat;
}

.info-block.course strong {
    color: #fdff3a;
    font: 600 26px/30px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.info-block .text-box h2 {
    color: #fff;
    font: 300 42px/47px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.75);
    margin: 0 0 20px;
}

.info-block .text-box .list {
    list-style: none;
    margin: 0 0 32px 22px;
    color: #fff;
    font: 18px/30px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.75);
}

.info-block .text-box .list li {
    position: relative;
    padding: 0 0 0 35px;
}

.info-block .text-box .list li:before {
    content: "";
    background: url(library/images/bg-ico.png) no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: -1px;
}

.info-block .text-box a {
    display: block;
    background: #c50000;
    max-width: 300px;
    color: #fff;
    text-transform: capitalize;
    font: 300 24px/24px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 10px 22px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.info-block .img-holder {
    max-width: 407px;
    float: right;
    margin: 0 25px 0 0;
}

.info-block .img-holder img {
    display: block;
    width: 100%;
    height: auto;
}

.section-block {
    position: relative;
    padding: 81px 0 0;
}

.section-block:after {
    content: "";
    background: url("library/images/img-3-1-new.jpg") no-repeat 50% 0;
    width: 1611px;
    height: 785px;
    position: absolute;
    left: -400px;
    bottom: -43px;
    z-index: -1;
}

.section-block .col-box {
    margin: 0 0 21px;
    overflow: hidden;
}

.section-block .box {
    background: #203b5b url("library/images/bg-block-box.png") no-repeat;
    background-size: cover;
    float: left;
    width: 438px;
    padding: 34px 45px 37px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font: 18px/24px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    margin: 0 0 0 64px;
}

.section-block .box:first-child {
    margin: 0;
}

.section-block .box h4 {
    font: 600 28px/28px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    text-transform: capitalize;
    margin: 0 0 24px;
}

.section-block .box P {
    margin: 0 0 28px;
    font-size: 19px;
}

.section-block .box a {
    display: block;
    background: #c50000;
    max-width: 215px;
    color: #fff;
    text-transform: capitalize;
    font: 300 18px/18px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    text-align: center;
    padding: 14px 10px 16px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    margin: 0 auto;
}


/*categories-list*/

.categories-list {
    margin: 0 -53px 0 0;
    overflow: hidden;
}

.categories-list .category-item {
    float: left;
    line-height: 20px;
    padding: 19px 20px 22px 0;
    position: relative;
    width: 32.4%;
    z-index: 1;
    margin: 0 0 0 -2px;
}

.categories-list h2 {
    color: #203b5b;
    font: 600 21px/26px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    margin: 0 0 22px;
}

.cat-thumb {
    margin: 0 14px 5px 0!important;
}

.alignleft {
    float: left;
}

.alignleft img {
    display: block;
    margin: 0 2px 0 0;
}

.section-add-categories .text-holder {
    overflow: hidden;
}

.category-item .text-holder {
    float: right;
    width: 225px;
    padding: 1px 5px 0 0;
    color: #2c2c2c;
    font: 14px/20px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
}

.category-item:first-child .text-holder {
    width: 178px;
}

.category-item p {
    margin: 0 0 1px!important;
}

.category-item .text-holder a,
.slideshow-testimonials a {
    color: #c40000;
}

.slideshow-testimonials a {
    margin-left: 80px;
}

.slideshow-testimonials .pager {
    margin: -42px 0 30px
}

.slideshow-testimonials .buttons {
    margin: 0 0 0 140px;
}

.slideshow-testimonials .buttons a {
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    float: left;
    font-size: 0;
    height: 0;
    line-height: 0;
    margin: 0 5px;
    outline: medium none;
    text-indent: -9999px;
    width: 0;
}

.slideshow-testimonials .buttons .btn-prev {
    border-right: 6px solid #444;
}

.slideshow-testimonials .buttons .btn-next {
    border-left: 6px solid #444;
}

.categories-list blockquote {
    margin: 0 0 12px;
}

.categories-list blockquote cite {
    font: 11px/14px 'Open Sans', Trebuchet MS1, Helvetica, sans-serif;
    display: block;
    padding: 8px 0 0;
}

@media screen and (max-width: 939px) {
    #fixed-related-box {
        display: none;
    }
    .post-list.row-list {
        display: block;
    }
    .text-block,
    .video-block,
    .info-block .text-box,
    .info-block .img-holder {
        max-width: 45%;
        box-sizing: border-box;
        padding: 15px 15px 0;
    }
    .video-block {
        width: 45%;
    }
    .text-block h2 {
        font: 56px/60px "Open Sans", Trebuchet MS1, Helvetica, sans-serif;
    }
    .holder-block .list li {
        max-width: 230px;
        float: none;
        display: inline-block;
    }
    .info-block {
        position: relative;
    }
    .info-block .img-holder {
        margin: 0;
    }
    .info-block .text-box strong {
        font: 600 20px/24px "Open Sans", Trebuchet MS1, Helvetica, sans-serif;
    }
    .info-block .text-box h2 {
        font: 300 34px/38px "Open Sans", Trebuchet MS1, Helvetica, sans-serif;
    }
    .info-block .text-box .list {
        margin: 0 0 25px 22px;
    }
    .info-block .text-box a {
        margin: 0 0 25px;
    }
    .section-block .col-box {
        padding: 0 15px;
        text-align: center;
    }
    .section-block .box {
        width: 46%;
        box-sizing: border-box;
        padding: 34px 19px 37px;
        display: inline-block;
        float: none;
    }
    .categories-list {
        padding: 0 15px;
    }
    .categories-list .category-item {
        width: 100%;
        padding: 19px 20px 10px 0;
        box-sizing: border-box;
    }
    .category-item .text-holder {
        float: none;
        width: 100%;
        box-sizing: border-box;
    }
    .category-item:first-child .text-holder {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .text-block,
    .video-block,
    .info-block .text-box,
    .info-block .img-holder {
        max-width: 100%;
    }
    .video-block {
        width: 100%;
    }
    .customize-support .nav-holder {
        height: 32px;
    }
    .text-block .list li:before {
        top: 10px !important;
    }
    .text-block h2 {
        font: 40px/44px "Open Sans", Trebuchet MS1, Helvetica, sans-serif;
        text-align: center;
    }
    .text-block {
        font: 18px/26px "Open Sans", Trebuchet MS1, Helvetica, sans-serif;
        float: none;
        margin: 0 auto;
    }
    .text-block .list {
        margin: 0 auto;
        display: table;
    }
    .video-block p {
        margin: 0 auto 15px;
    }
    .title-box {
        padding: 9px 0 12px;
    }
    .title-box h3 {
        font: 24px/28px "Open Sans", Trebuchet MS1, Helvetica, sans-serif;
    }
    .holder-block h2 {
        font: 300 34px/36px "Open Sans", Trebuchet MS1, Helvetica, sans-serif;
        margin: 0 0 24px;
    }
    .holder-block .list li,
    .holder-block .list li:first-child {
        max-width: 100%;
        margin: 0 0 10px;
    }
    .info-block {
        padding: 0;
    }
    .info-block .text-box strong {
        font: 600 18px/24px "Open Sans", Trebuchet MS1, Helvetica, sans-serif;
    }
    .info-block .img-holder {
        float: none;
        margin: 0 auto;
        max-width: 407px !important;
    }
    .section-block {
        padding: 35px 0 0;
    }
    .section-block .col-box {
        margin: 0 0 35px;
    }
    .section-block .box {
        width: 100%;
        margin: 15px 0 0;
    }
    .categories-list {
        margin: 0;
    }
    .categories-list .category-item {
        padding: 19px 0 10px 0;
    }
}

.more-center {
    text-align: center;
}

.more-center a {
    margin: 0!important;
}

.newsletter-widget {
    background: #e9f4f6;
    padding: 27px;
    margin-left: -27px;
    margin-right: -27px;
    height: 335px;
    border-top: 1px solid #bdd1d6;
    border-bottom: 1px solid #9bafbf;
}

.space {
    clear: both;
    height: 50px;
}

.newsletter-widget h2 span {
    display: block;
    color: #70787a;
    font-weight: normal;
    font-size: 16px;
    margin-top: -5px;
}

.top-content img {
    float: left;
    margin-right: 25px;
}

div.newsletter p {
    font-weight: bold;
    background: #9cafbe;
    margin-bottom: 0;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.top-content p {
    font-size: 16px !important;
    line-height: 22px;
}

div.newsletter {
    margin-left: -27px;
    margin-right: -27px;
}

.subscribe-form-bottom {
    background: #464749;
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 21px;
    padding-left: 30px;
}

.subscribe-form-bottom input {
    margin-top: 10px;
}

.subscribe-form-bottom img {
    margin-right: 25px;
    margin-top: -100px;
    z-index: 1000;
    float: right;
}

.subscribe-form-bottom input[type="text"] {
    border: 1px solid #000;
    background: #37383a;
    text-indent: 10px;
    border-radius: 5px;
    padding: 4px 25px 4px 0;
    font-size: 14px;
    -moz-box-shadow: inset 0 0 1px #000000;
    -webkit-box-shadow: inset 0 0 1px #000000;
    box-shadow: inset 0 0 1px #000000;
}

.subscribe-form-bottom input[type="submit"] {
    padding-top: 3px;
    padding-bottom: 3px;
}

#main #content.nosb-fullwidth {
    width: 100%;
}

.meta ul li {
    margin-right: 5px
}

.footer-advice {
    padding: 20px 10px 10px;
    font-size: 11px;
    margin-top: 10px;
    line-height: 16px;
}

.footer-advice p {
    display: block;
    margin-bottom: 10px !important;
}

.page-template-template-courses .adv-testimonials-block .testimonials-list .list-item {
    width: 50%;
    margin: 0 !important;
    float: left;
}

.page-template-template-courses .adv-testimonials-block .testimonials-list blockquote {
    float: none;
    display: block;
    margin: 0 auto;
}

.page-template-template-courses .adv-testimonials-block .testimonials-list .see-more-stores-button {
    width: 305px;
    margin: 0 auto;
    margin-top: 12px;
    padding-right: 5px;
}

#footer {
    overflow: hidden;
}


/* Responsive Sign Up - Single Page */

@media screen and (max-width: 1000px) {
    #wrapper .signup-content .moonray-form-input-type-text,
    #wrapper .signup-content .moonray-form-input-type-email {
        width: 37% !important;
        margin-right: 10px;
    }
    #wrapper .signup-content .moonray-form-element-wrapper input {
        width: 100% !important;
    }
    #wrapper .signup-content form {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    #wrapper .signup-content .moonray-form-input-type-text,
    #wrapper .signup-content .moonray-form-input-type-email {
        width: 33% !important;
    }
    .page-template-template-courses .adv-testimonials-block .testimonials-list .list-item:first-child {
        margin-bottom: 10px !important;
    }
    .page-template-template-courses .adv-testimonials-block .testimonials-list .list-item {
        width: 100%;
    }
    .page-template-template-courses .adv-testimonials-block .testimonials-list .see-more-stores-button {
        margin-top: 8px;
        margin-bottom: 9px;
    }
}

@media only screen and (max-width: 560px) {
    #wrapper .signup-wrap img.ibook-small {
        right: -4px;
        bottom: 6px;
    }
    .signup-content form {
        padding-right: 90px;
    }
    #wrapper .signup-content .moonray-form-input-type-text,
    #wrapper .signup-content .moonray-form-input-type-email {
        width: 100% !important;
        margin-bottom: 10px;
    }
    #wrapper .signup-content .moonray-form-input-type-submit {
        width: 100% !important;
    }
}

.slider-container
{
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
	position: relative;
	height: 502px;
	margin-bottom: 47px;
}

.slider-container .right-scroll-hotspot
{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 30%;
	cursor: pointer;
}

.slider-container .right-scroll-hotspot img
{
	position: absolute;
	top: 50%;
	margin-top: -14px;
	right: 15%;
}

.slider-container .left-scroll-hotspot
{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 30%;
	cursor: pointer;
}

.slider-container .left-scroll-hotspot img
{
	position: absolute;
	top: 50%;
	margin-top: -14px;
	left: 15%;
}

.slider-slide.animate
{
	-webkit-transition: left 1s;
	transition: left 1s;
}

.slider-slide
{
	position: absolute;
	width: 100%;
	height: 502px;
	left: 0%;
}

.slider-slide.slide-left
{	
	left: -100%;
}
.slider-slide.slide-right
{
	left: 100%;
}

.slider-slide.off-stage
{
/*	z-index: -1; */
	display: none;
}

@media (min-width: 981px) {
.banner-homepage, .header-box, .slider-container, .slider-slide {
	height: 355px;
}
}

@media (max-width: 980px) {
	.banner-homepage,
	.header-box,
	.slider-container,
	.slider-slide
	{
		height: 800px;
	}
}


.header-box h1 {
	color: #fff;
	text-align: center;
	margin: 37px 0 10px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 42px;
	font-weight: 600;
}

.header-box .box-holder {
    padding-top: 22px;
}

.holder:after,
.nav-box:after,
.box-holder:after,
.text-box:after {
    clear: both;
    content: "";
    display: block;
}

.header-box h2 {
	font-size: 30px;
	color: #fff;
	text-align: center;
	margin-top: 0;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 14px;
	position: relative;
	z-index: 5;
}

.header-box .img-holder {
    float: left;
    max-width: 406px;
    padding: 0 113px 0 35px;
    margin-right: 115px;
}

.header-box .list {
	color: #fff;
	float: left;
	font: 0px "Open Sans", Arial, Helvetica, sans-serif;
	margin: 12px -70px 0 0;
	text-transform: capitalize;
}

.header-box .list li {
	padding: 2px 0 11px 21px;
	position: relative;
	list-style: none;
	font: 14px 'Open Sans', Trebuchet MS1,Helvetica,sans-serif;
	text-transform: none;
	line-height: 1.2;
}

.header-box .list li::before {
	background: url(//2nd-skies-forex.com/wp-content/themes/2ndSkies/library/css/../images/bg-ico.png) no-repeat;
	content: "";
	height: 9px;
	left: 0;
	position: absolute;
	top: 6px;
	width: 10px;
	background-size: contain;
}
.enroll a {
    display: block;
    line-height: 60px !important;
    height: 63px;
    color: #fff;
    text-align: center;
    float: right;
    margin-top: 18px;
    margin-right: 23%;
    background: url(//2nd-skies-forex.com/wp-content/themes/2ndSkies/library/css/../images/redbtn.png) no-repeat;
    width: 300px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 300;
}

.enroll:before {
    display: none;
}

@media screen and (max-width: 987px) { 
    .header-box .img-holder {
        margin-right: 75px;
    }
}

@media screen and (max-width: 979px) {
    .header-box .img-holder {
        float: none;
        margin: 0 auto;
        padding: 0;
        max-width: 406px;
    }
    .header-box .list {
        float: none;
        margin: 0 auto;
        margin-top: 10px;
        width: 380px;
    }
    .enroll a {
        float: none;
    }
}

.header-box {
	background: #0d2a4c;
	padding: 27px 20px;
	/* border-bottom: 1px solid #4274ae; */
	margin-top: -41px;
	background-size: cover !important;
}
.white-bg
{}
.white-bg.header-box h2
{
color: #0074a9
    }
.white-bg.header-box p, .white-bg.header-box li
{color: #404245}