@import url(https://fonts.googleapis.com/css?family=Bigshot+One);

body{
    margin:0;
    padding: 0;
    color:#2a2a2a;
    font:16px/25px 'Open Sans', Arial, Helvetica, sans-serif;
    background:#ffffff;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    overflow-x: hidden;
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSansSemibold.eot');
    src: url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
        url('../fonts/OpenSansSemibold.woff2') format('woff2'),
        url('../fonts/OpenSansSemibold.woff') format('woff'),
        url('../fonts/OpenSansSemibold.ttf') format('truetype'),
        url('../fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
        url('../fonts/OpenSansBold.woff2') format('woff2'),
        url('../fonts/OpenSansBold.woff') format('woff'),
        url('../fonts/OpenSansBold.ttf') format('truetype'),
        url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSansItalic.eot');
    src: url('../fonts/OpenSansItalic.eot') format('embedded-opentype'),
        url('../fonts/OpenSansItalic.woff2') format('woff2'),
        url('../fonts/OpenSansItalic.woff') format('woff'),
        url('../fonts/OpenSansItalic.ttf') format('truetype'),
        url('../fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../fonts/OpenSansSemiboldItalic.eot');
    src: url('../fonts/OpenSansSemiboldItalic.eot') format('embedded-opentype'),
        url('../fonts/OpenSansSemiboldItalic.woff2') format('woff2'),
        url('../fonts/OpenSansSemiboldItalic.woff') format('woff'),
        url('../fonts/OpenSansSemiboldItalic.ttf') format('truetype'),
        url('../fonts/OpenSansSemiboldItalic.svg#OpenSansSemiboldItalic') format('svg');
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight.eot');
    src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
        url('../fonts/OpenSansLight.woff2') format('woff2'),
        url('../fonts/OpenSansLight.woff') format('woff'),
        url('../fonts/OpenSansLight.ttf') format('truetype'),
        url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
        url('../fonts/OpenSansRegular.woff2') format('woff2'),
        url('../fonts/OpenSansRegular.woff') format('woff'),
        url('../fonts/OpenSansRegular.ttf') format('truetype'),
        url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}


html {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img{border-style:none;}

img {
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

a {
    text-decoration: none;
}

.holder:after, .nav-box:after, .box-holder:after, .text-box:after {
    clear: both;
    content: "";
    display: block;
}

div.content {
    display: none;
}

.mobile-nav {
    display: none;	
}

.holder {
    margin: 0 auto;
    max-width: 980px;
    position: relative;
}

.header-box {
    background: #203b5b;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #4274ae;
}

.logo {
    background: url(../images/logo-traders.png) no-repeat;
    float: left;
    height: 94px;
    text-indent: -9999px;
    margin: 0 17px 0 42px;
    overflow: hidden;
    width: 105px;
}

.nav {
    float: left;
    font: 14px/17px "Open Sans",Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 35px 0 0 25px;
    overflow: hidden;

}

.nav:first-child {
    padding-left: 28px;
}

.nav-box {
    overflow: hidden;
    padding: 0;
}

.nav li:first-child {
    margin: 0;
}

.nav li {
    float: left;
    margin: 0 0 0 34px;
}

.nav a {
    color: #4f739d;
}

.nav a:hover {
    color: #58a809;
}

.header-box h1 {
    color: #fff;
    font: 52px 'OpenSansSemibold';
    text-align: center;
    margin: 18px 0 10px 0;
}

.header-box h2 {
    font: 35px "Open Sans";
    color: #7498c2;
    text-align: center;
    margin-top: 0;
}

.header-box .list {
    color: #fff;
    float: left;
    font: 18px/19px "Open Sans",Arial,Helvetica,sans-serif;
    margin: 60px -50px 0 0;
    text-transform: capitalize;
}

.header-box .img-holder {
    float: left;
    max-width: 406px;
    padding: 0 113px 0 35px;
}

.header-box .list li {
    padding: 0 0 17px 35px;
    position: relative;
}

.header-box .list li:before {
    background: url(../images/bg-ico.png) no-repeat;
    content: "";
    height: 12px;
    left: -1px;
    position: absolute;
    top: 3px;
    width: 12px;
}

.header-box .box-holder {
    padding-top: 22px;	
}

.enroll {
    width: 100%;
    height: 328px;
    background: url(../images/enroll_bg.jpg) repeat-x;
    font: 24px "Open Sans";
    color: #91b7e2;
}

.enroll span {
    text-decoration: underline;
}

.enroll .holder div {
    width: 53%;
    padding-top: 40px;
    padding-left: 8%;
    float: left;
    line-height: 48px;
    width: 41%;
    padding-left: 13%;
    
}

.enroll a {
    display: block;
    line-height: 72px !important;
    height: 84px;
    font: 26px 'OpenSansBold';
    color: #303030;
    text-align: center;
    float: right;
    margin-top: 30px;
    margin-right: 19%;
    background: url(//2nd-skies-forex.com/wp-content/themes/2ndSkies/library/css/../images/success.png) no-repeat;
    width: 614px;
}


.enroll a:hover {
    text-decoration: underline;
}

.chris {
    background: url(../images/chris_bg.png) repeat-x;
}

.chris img {
    margin-top: -31px;
}

.chris .img-holder {
    max-width: 378px;
    float: left;
    padding-right: 52px;
}

.chris ul {
    margin: 0;
    padding: 0;
    font: 22px 'OpenSansSemiBold';
    color: #45668d;
    padding-bottom: 7px;
}

div.info {
    float: left;
    width: 56%;
    padding-top: 52px;
}

.chris ul li {
    padding: 0px 0 15px 24px;
    position: relative;
}

.chris ul li:before {
    background: url(../images/bullet.png) no-repeat;
    content: "";
    height: 10px;
    left: 0px;
    position: absolute;
    top: 11px;
    width: 10px;
}

.chris blockquote {
    font: 19px 'OpenSansItalic';
    color: #4f739d;
    margin: 0;
}

.chris blockquote cite {
    font: 16px "Open Sans";
    color: #4f739d;
    line-height: 15px;
}


.chris blockquote cite span {
    font-family: 'OpenSansSemibold';
    display: block;
}

.chris hr {
    background: #dbdbdb;
    border: 0;
    height: 1px;
    margin-top: -4px;
}

#what_you_learn h1 {
    font: 52px 'OpenSansSemibold';
    color: #465d79;
    text-align: center;
    margin-bottom: 8px;
}

#what_you_learn {
    padding-bottom: 60px;
    padding-top: 8px;
}

#what_you_learn h2 {
    font: 20px 'OpenSansItalic';
    color: #4a4a4a;
    text-align: center;
    width: 82%;
    margin: 0 auto;
    margin-bottom: 40px;
    line-height: 30px;
}

#what_you_learn h2 span {
    font-family: 'OpenSansSemiboldItalic';
}

#what_you_learn a {
    color: #465d79; 
    font-weight: bold;
    font-size: 24px;
    display: block;
    width: 420px;
    margin: 0 auto;
    margin-top: 25px;
}

#what_you_learn a:hover {
    text-decoration: underline;
}

#meditation {
    height: 564px;
    background: url(../images/meditation_bg.jpg);
}

#meditation h1 {
    color: #465d79;
    font: 52px "OpenSansSemibold";
    padding-top: 40px;
    text-align: center;
}

#meditation article {
    width: 460px;
    float: left;
}

#meditation article p {
    font: 16px "Open Sans";
    color: #2a2a2a;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 24px;
}

#meditation .img-holder {
    max-width: 480px;
    float: right;
}

div.lesson p {
    font: 19px 'OpenSansSemibold';
    color: #4a4a4a;
    margin-bottom: 5px;
    margin-top: 0;
    line-height: 28px;
}

div.lesson {
    font: 16px 'Open Sans';
    color: #2a2a2a;
    max-width: 820px;
    margin: 0 auto;
}

div.lesson p span {
    color: #0690d0;
}

.lesson .head {
    padding-bottom: 25px;
    border-bottom: 1px solid #dbe2ea;
    background: url(../images/arrow.png) no-repeat 97.5% 34px;
    padding-top: 20px;
    padding-left: 20px;
}

div.lesson.current .head, .lesson .head:hover {
    background: #203b5b url(../images/arrow_down.png) no-repeat 97.5% 44px;
    color: #d6e9ff;
}

div.lesson.current .head p, .lesson .head:hover p {
    color: #d6e9ff;
}

div.lesson.current .head p span, .lesson .head:hover p span {
    color: #74e6ff;
}

div.content {
    background: #eff2f6;
    height: auto;
    overflow: hidden;
    padding: 0 25px;
}

div.content h3 {
    color: #104687;
    font: 16px "OpenSansSemibold";
    border-bottom: 1px solid #104687;
    margin-bottom: 5px;
}

div.content .column {
    width: 46%;
}

div.content .column.left {
    float: left;
}

div.content .column.right {
    float: right;
}

#what_you_learn ul li:before {
    background: url(../images/bullet_small.png) no-repeat;
    content: "";
    height: 6px;
    left: 4px;
    position: absolute;
    top: 9px;
    width: 5px;
}

#what_you_learn ul li{
    padding: 0 0 5px 20px;
    position: relative;
    font: 16px "Open Sans";
    color: #2a2a2a;
}

#what_you_learn ul {
    height: auto;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 15px;
}

#what_you_get {
    height: 436px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 100px;
    background: #203b5b url(../images/get_bg.jpg) repeat-x center center;
}

#what_you_get p.two {
    margin-top: 78px;
}

#what_you_get p.three {
    margin-top: 161px;
    margin-bottom: 10px;
}

#what_you_get p.four {
    margin-top: 243px;
    margin-bottom: 10px;
}

#what_you_get h1 {
    font: 52px 'OpenSansSemibold';
    color: #fff;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: center;
}

#about_chris  .img-holder {
    float: right;
    max-width: 460px;
    padding-top: 40px;
}

#about_chris {
    padding-top: 62px;
    padding-bottom: 20px;
}

#about_chris article {
    float: right;
    width: 460px;
}

#about_chris article p {
    font: 16px "Open Sans";
    color: #2a2a2a;
}

#about_chris h2 {
    font: 52px 'OpenSansSemibold';
    color: #465d79;
    letter-spacing: -2px;
    line-height: 62px;
    margin-bottom: 33px;
}

#about_chris p {
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 28px;
}

.news-holder p {
    margin-bottom: 12px;
}

.news-holder {
    max-width: 500px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    font-size: 13px;
}

.news-holder * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #336699;
    text-decoration: none;
}

.news-headlines {
    list-style: none;
    position: relative;
}

.news-headlines li {
    height: 73px;
    line-height: 73px !important;
    width: 460px;
    background: #355983;
    font: 19px "Open Sans";
    color: #82b2e8 !important;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
    color: #336699;
    text-indent: 28px;
}

.nh-anim {
    -webkit-transition: all .75s ease-out;
    -moz-transition: all .75s ease-out;
    -o-transition: all .75s ease-out;
    transition: all .75s ease-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}


.news-headlines li:hover, a:hover {
    cursor: pointer;
}

.news-headlines .highlight {
    position: absolute;
    top: 0;
    left: 0;
}

.news-headlines .selected {
    background: url(../images/active.png) no-repeat;
    width: 498px;
    z-index: 20;
    color: #ececec !important;
}

.news-headlines .highlight:before {
    display: none;
}

.news-headlines {
    float: left;
    width: 30%;
}

.news-preview {
    float: right;
    width: 48%;
    position: relative;
    z-index: 5;
    margin-left: -1px;
    min-height: 304px;
    position: relative;
}

.news-content {
    position: absolute;
    font: 16px "Open Sans";
    color: #fff;
    z-index: 10;
    top: 0;
    left: 0;
    display: none;
}

.news-content p {
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 24px;
}

.top-content {
    display: block;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#traders {
    width: 100%;
    height: 430px;
    background: url(../images/traders_bg.jpg) repeat-x;
    padding-top: 1px;
}

#traders h1 {
    font: 52px 'OpenSansSemibold';
    color: #465d79;
    text-align: center;
}

.bx-wrapper .testimonials-thumbnail{ margin: 0px 0px 15px; }
.bx-wrapper .testimonials-carousel-thumbnail{ max-width: 35%; float: left; margin-right: 12px; }
.bx-wrapper .testimonials-carousel-thumbnail img{ display: block;   margin-right: 0px;width: 115px;}
.bx-wrapper .testimonials-carousel-context{ overflow: hidden; background:url(../images/quote_left.png) no-repeat left 5px; padding-left: 25px; font: 16px 'OpenSansLight'; color: #2a2a2a; }
.testimonials-carousel-context p {
    margin-top: 0;
    margin-bottom: 15px;
}
.bx-wrapper .testimonials-name{ font: 19px 'OpenSansSemibold'; color:#0690d0;}
.bx-wrapper .testimonials-name span {
    display: block;
    font: 16px "Open Sans";
    color: #a1a1a1;
}
.bx-wrapper {position: relative;margin: 30px auto;padding: 0;width:100%;*zoom: 1;}
.bx-wrapper .slide {padding:0;margin:0;display: block;}
.bx-wrapper .bx-viewport {padding:10px;margin-left:0;z-index:1;width:100%;}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {position: absolute;display:none;bottom: -30px;width: 100%;}
.bx-wrapper .bx-pager {text-align: center;font-size: .85em;font-weight: bold;color: #666;padding-top: 20px;}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;*zoom: 1;*display: inline;}
.bx-wrapper .bx-pager.bx-default-pager a {background: #666;text-indent: -9999px;display: block;width: 10px;height: 10px;margin: 0 5px;outline: 0;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {background: #000;}
.bx-wrapper .bx-next {width: 10px;height: 14px;cursor: pointer;background: url(../images/caousel-next.png) no-repeat 0 0 ; position: absolute; bottom: 0; left: 51.5%;}
.bx-wrapper .bx-prev {width: 10px;height: 14px;cursor: pointer;background: url(../images/caousel-prev.png) no-repeat 0 0 ; position: absolute; bottom: 0; left: 49.5%;}
.bx-wrapper .bx-controls-direction a {display: block; width: 10px; height: 14px; text-indent: 9999px;z-index: 9999;}


#sample_lesson {
    padding-top: 58px;
    padding-bottom: 40px;
    background-color: #eff2f6;
}

#sample_lesson .img-holder {
    max-width: 500px;
    margin: 0 auto;
}

#sample_lesson h2 {
    font:42px "Open Sans";
    color: #2a2a2a;
    text-align: center;
    max-width: 920px;
    margin: 0 auto;
    margin-top: 10px;
}

#enroll h1 {
    font: 52px 'OpenSansSemibold';
    color: #fff;
    text-align: center;
    margin-bottom: 55px;
}

#enroll .img-holder {
    float: left;
    max-width: 605px;
    padding-right: 25px;
}

#enroll div.text {
    float: right;
    max-width: 540px;
}

#enroll div.text div {
    font: 16px "Open Sans";
    color: #fff;
    margin-bottom: 20px;
}

#enroll div.text div span {
    color: #fcff00;
}

#enroll div.text p {
    color: #fff;
    font: 16px "Open Sans";
    margin-top: 0px;
    margin-bottom: 12px;
}

#enroll .box-holder {
    height: auto;
    overflow: hidden;
    margin-bottom: 20px;
}


#enroll div.text p span {
    color: #fcff00;
}

#enroll strong {
    font: 18px 'OpenSansSemibold';
}

#enroll a.join {
    display: block;
    background: url(//2nd-skies-forex.com/wp-content/themes/2ndSkies/library/css/../images/success.png) no-repeat;
    width: 614px;
    line-height: 74px !important;
    height: 84px;
    font: 28px 'OpenSansBold';
    color: #303030;
    text-align: center;
    margin: 0 auto;
    clear: both;
}

#enroll a.join:hover {
    text-decoration: underline;
}

.holder.course {
    max-width: 1180px;
    padding-top: 2px;
}


#enroll h2 {
    font: 21px "Open Sans";
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 10px;
}

#enroll h2 span {
    color: #fcff00;
}

#enroll .list-card {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 265px;

    margin-top: 20px;
}


#enroll .list-card li {
    float: left;
    margin-right: 5px;
}

#enroll .list-card li:last-child {
    margin-right: 0;
}

#enroll .list-card li a {
    text-indent: -9999px;
    display: block;
}

ul .visa {
    background: url(../images/visa.png) no-repeat;
    width: 49px;
    height: 31px;
}

ul .master-card {
    background: url(../images/mastercard.png) no-repeat;
    width: 49px;
    height: 31px;
}

ul .paypal {
    background: url(../images/paypal.png) no-repeat;
    width: 48px;
    height: 30px;
    border-radius: 3px;
}

ul .discover  {
    background: url(../images/discover.png) no-repeat;
    width: 49px;
    height: 31px;
}

ul .american-express {
    background: url(../images/americanexpress.png) no-repeat;
    width: 49px;
    height: 31px;
}

a.secure {
    background: url(../images/comodo.png) no-repeat;
    width: 59px;
    height: 38px;
    float: none;
    display: block;
    text-indent: -9999px;
    margin: 0 auto;
    margin-top: 60px;
}

.footer {
    text-align: center;
    padding: 25px 0 35px 0;
    font: 14px "OpenSansRegular";
}

@media (max-width: 979px){

    #meditation {
        min-height: 564px;
        height: auto;
        overflow: hidden;
        background: #f3f3f3 url(../images/meditation_bg.jpg);
        padding-bottom: 20px;
    }

    #meditation h1 {
        padding-top: 15px;
    }

    #meditation article {
        width: 46%;
        float: left;
    }

    #meditation article p {

        margin-bottom: 20px;
    }

    #meditation .img-holder {
        width: 50%;
        float: right;

    }


    .holder {
        max-width: 959px;
        padding: 0 10px;
    }

    .logo{
        float: right;
        margin: 0 30px 0 0;
    }
    .nav-box {
        padding: 0 0 25px;
    }
    .nav {
        padding: 10px 0 0 15px;
    }
    .nav:first-child {
        padding: 10px 0 0 15px;
        margin: 0 0 -10px;
    }
    .nav li,
    .nav li:first-child{
        float: none;
        margin: 0 0 5px;
    }

    .header-box h1 {
        font-size: 42px;
    }

    .header-box h2 {
        font-size: 30px;
    }

    .header-box .img-holder {
        float: none;
        margin: 0 auto;
        padding: 0;
    }

    .header-box .list {
        float: none;
        margin: 0 auto;
        margin-top: 10px;
        width: 380px;
    }

    .enroll .holder div {
        width: 54%;
        line-height: 40px;
        font-size: 20px;
    }

    div.info {
        max-width: 45%;
    }

    .chris .img-holder {
        padding-right: 2%;
    }

    #what_you_learn h1 {
        font-size: 42px;
    }

    div.lesson {
        max-width: 767px;
    }

    #what_you_get h1 {
        font-size: 42px;
    }

    .enroll .holder div {
        padding-left: 2%;
    }

    .enroll a {
        margin-right: 2%;
    }

    .news-headlines li {
        width: 300px;
        font-size: 16px;
    }

    .news-headlines .selected {
        width: 340px;
        background:url(../images/active_small.png) no-repeat;
    }

    .news-preview {
        width: 52%;
    }

    #about_chris article {
        width: 47%;
    }

    #about_chris .img-holder {
        max-width: 50%;
    }

    #about_chris h2 {
        font-size: 42px;
    }

    #traders h1 {
        font-size: 42px;
    }

    .bx-wrapper .testimonials-carousel-thumbnail img {
        width: 100px;
    }

    #traders {
        padding-bottom: 30px;
        background: #f1f1f1;
    }

    #enroll h1 {
        font-size: 42px;
    }

    #enroll .img-holder {
        max-width: 65%;
        float: none;
        margin: 0 auto;
    }

    #enroll div.text {
        max-width: 450px;
        float: none;
        margin: 0 auto;
    }

    #enroll {
        height: auto;
        background: #1c3655;
        overflow: hidden;
        padding-bottom: 55px;
    }



}

@media (min-width: 960px) and (max-width: 1200px) {
    #enroll .img-holder {
        max-width: 58%;
    }

    #enroll div.text {
        max-width: 37%;
    }

    #enroll div.text p {
        font-size: 14px;
    }

    #enroll h2 {
        font-size: 18px;
        margin-top: -4px;
    }
    .header-box .list {
        font: 16px/19px "Open Sans",Arial,Helvetica,sans-serif;
    }
    #meditation .img-holder {
        padding-right: 2%;
    }
}

@media (min-width: 980px) and (max-width: 995px) {
    div.info {
        width: 54%;
        padding-top: 30px;
    }
}

@media (max-width: 767px){

    #what_you_learn a {
        max-width: 420px;
    }

    #meditation {
        height: auto;
        overflow: hidden;
        background: #f3f3f3;
        padding-bottom: 40px;
    }

    #meditation h1 {
        padding-top: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #meditation article {
        width: 460px;
        margin: 0 auto;
        float: none;
        margin-bottom: 15px;
    }

    #meditation article p {
        margin-bottom: 20px;
    }

    #meditation .img-holder {
        width: 480px;
        margin: 0 auto;
        float: none;
    }



    ul.nav {
        display: none;
    }

    .mobile-nav {
        display:block;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .menu-btn div {
        position: absolute;
        left: 100%;
        top: 64%;
        padding-right: 8px;
        margin-top: -0.50em;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 200;
        vertical-align: middle;
        z-index: 99;
    }

    .menu-btn {
        display: block;
        border: 1px solid #356090;
        background: #2C4F76;
        border-radius: 3px;
        width: 38px;
        height: 29px;
    }

    .menu-btn span {
        display: block;
        width: 19px;
        height: 3px;
        margin: 5px 10px 4px 10px;
        background: #fff;
        z-index: 99;
    }

    .responsive-menu{
        display: none;
    }

    .responsive-menu ul li a {
        color: #fff;
        display: block;
        padding: 14px 10px 14px;
        font-size: 14px;
        text-transform: uppercase;
        background: #203b5b;
    }

    .responsive-menu ul li {
        border: 1px solid #345b86;
        max-width: 250px;
    }

    .expand {
        display: block !important; 
    }

    .holder {
        max-width:  767px;
    }	

    .nav-box {
        padding: 0 0 25px;
    }
    .nav {
        padding: 10px 0 0 15px;
    }
    .nav:first-child {
        padding: 10px 0 0 15px;
        margin: 0 0 -10px;
    }
    .nav li,
    .nav li:first-child{
        float: none;
        margin: 0 0 5px;
    }
    .logo {
        margin: 0 15px 0 0;
    }

    .header-box h1 {
        font-size: 42px;
    }

    .header-box h2 {
        font-size: 30px;
    }

    .header-box .img-holder {
        float: none;
        margin: 0 auto;
        padding: 0;
    }

    .header-box .list {
        float: none;
        margin: 0 auto;
        margin-top: 10px;
        width: 380px;
    }

    .enroll .holder div {
        width: 90%;
        float: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .enroll .holder div br {
        display: none;
    }

    .enroll {
        height: auto;
        overflow: hidden;
        background: #0e2848;
        padding: 25px 0 40px 0;
    }

    .enroll a {
        float: none;
        margin: 0 auto;
        margin-top: 10px;
    }

    div.info {
        max-width: 60%;
        float: none;
        margin: 0 auto;
    }

    .chris .img-holder {
        padding: 0;
        float: none;
        margin: 0 auto;
    }

    .chris {
        height: auto;
        overflow: hidden;
        background: #ececec;
        padding: 20px 0;
    }

    .chris img {
        margin-top: 0;
    }

    div.lesson {
        max-width: 96%;
    } 

    div.content .column.left {
        float: none;
        margin: 0 auto;
    }

    div.content .column {
        width: 75%;
        margin: 0 auto;
    }

    div.content .column.right {
        float: none;
        margin: 0 auto;
    }

    .news-headlines {
        width: 460px;
        float: none;
        margin: 0 auto;
    }

    .news-headlines li {
        width: 460px;
        font-size: 19px;
    }

    .news-headlines .selected {
        width: 498px;
        background:url(../images/active.png) no-repeat;
    }

    .news-preview {
        width: 70%;
        float: none;
        margin: 0 auto;
        padding-top: 10px;
    }

    #what_you_get {
        height: auto;
        overflow: hidden;
        background: #203b5b;
        padding-bottom: 0px;
    }

    #about_chris article {
        width: 90%;
        float: none;
        margin: 0 auto;
    }

    #about_chris .img-holder {
        max-width: 460px;
        margin: 0 auto;
        float: none;
        padding-bottom: 40px;
    }

    #traders {
        background: #f1f1f1;
        height: auto;
        overflow: hidden;

    }

    .bx-wrapper .testimonials-carousel-thumbnail img {
        width: 70px;
        margin-right: 0px;
    }

    .bx-wrapper .testimonials-carousel-context {
        font-size: 14px;
    }

    .bx-wrapper .testimonials-name {
        font-size: 16px;
    }

    .bx-wrapper .bx-prev {
        left: 45%;
    }

    .bx-wrapper .bx-next {
        right: 45%;
    }

    #enroll .img-holder {
        max-width: 80%;
        float: none;
        margin: 0 auto;
    }

    #enroll div.text {
        max-width: 450px;
        float: none;
    }
}


@media (min-width: 960px) and (max-width: 1063px) {
    #enroll div.text {
        max-width: 30%;
    }
}


@media (max-width: 425px){
    .holder {
        max-width:  425px;
    }	

    #what_you_learn a {
        width: 100%;
    }

    #meditation {
        height: auto;
        overflow: hidden;
        background: #f3f3f3;
        padding-bottom: 40px;
    }

    #meditation h1 {
        padding-top: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 42px;
    }

    #meditation article {
        width: 94%;
        padding: 0 3%;
        margin: 0 auto;
        float: none;
        margin-bottom: 15px;
    }

    #meditation article p {
        margin-bottom: 20px;
    }

    #meditation .img-holder {
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    .box-holder {
        max-width: 90%;
        margin: 0 auto;
    }

    .header-box h1 {
        font-size: 36px;
    }

    .header-box h2 {
        font-size: 26px;
    }

    .header-box .img-holder {
        float: none;
        margin: 0 auto;
        padding: 0;
        max-width: 300px;
    }

    .header-box .list {
        float: none;
        margin: 0 auto;
        margin-top: 10px;
        max-width: 240px;
    }

    .enroll a {
        max-width: 302px;
    }

    div.info {
        max-width: 80%;}

    .chris .img-holder {
        max-width: 320px;
    }

    div.content .column {
        width: 90%;
    }

    #what_you_learn h1 {
        font-size: 36px;
    }

    .lesson .head {
        background: none;
    }

    div.lesson.current .head {
        background: none;
    }

    div.lesson p {
        font-size: 17px;
    }

    #what_you_get h1 {
        font-size: 36px;
    }

    .news-headlines li {
        max-width: 300px;
        font-size: 16px;
    }

    .news-headlines .selected {
        max-width: 340px;
        background:url(../images/active_small.png) no-repeat;
    }

    .news-preview {
        width: 90%;
        float: none;
        margin: 0 auto;
        padding-top: 10px;
    }


    #about_chris h2 {
        font-size: 36px;
    }

    #about_chris article {
        width: 96%;
    }

    .bx-wrapper .testimonials-carousel-thumbnail img {
        display: none;
    }

    #traders h1 {
        font-size: 36px;
    }

    #sample_lesson h2 {
        font-size: 32px;
    }

    #enroll h1 {
        font-size: 36px;
    }

    #enroll .img-holder {
        max-width: 90%;
    }

}


#Mindsetpopup {
    height:395px;
    width:870px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -435px;
    margin-top: -197px;
    z-index: 999999;
    display:none;
    background: #203b5b;
    -webkit-box-shadow: -1px 3px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
}

#Mindsetpopup:target, #Mindsetpopup:target + #cover{ display:block; opacity:2; }

.cancel {
    display:block;
    position:absolute;
    top:-5px;
    right:-5px;
    background: url(../images/close.png) no-repeat center center;
    text-indent: -9999px;
    height:30px;
    width:30px;
}

div.popup-info {
    width: 503px;
    padding: 35px 45px 36px 32px;
    float: left;
    height: 324px;
}

div.popup-info h2 {
    font: 40px "OpenSansSemibold";
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 50px;
}

div.popup-info h3 {
    font: 25px "OpenSansRegular";
    color: #7498c2;
    margin-top: 13px;
}

div.popup-info img {
    float:left;
    margin-top: 10px;
}

div.popup-info ul li:before {
    background: url(../images/bg-ico.png) no-repeat;
    content: "";
    height: 12px;
    left: -1px;
    position: absolute;
    top: 4px;
    width: 12px;
}

div.popup-info ul li {
    padding: 0 0 13px 18px;
    position: relative;
    font: 16px "OpenSansRegular";
    color: #ffffff;
}

div.popup-info ul {
    margin: 0;
    padding: 0;
    float: right;
    width: 210px;
    margin-top: 20px;
}

div.popup.form {
    width:244px;
    padding: 25px 23px 25px 23px;
    float: right;
    background: #ffffff;
    height: 345px;
}

div.popup.form div {
    font: 14px "OpenSansRegular";
    color: #4a4a4a;
}

div.popup.form form fieldset {
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
}

div.popup.form form {
    margin-top: 20px;
}

div.popup.form input[type="text"],
div.popup.form input[type="email"]{
    border: 1px solid #d9d9d9;
    background: #f3f3f3;
    width: 100%;
    border-radius: 4px;
    padding: 8px 0;
    font: 14px "OpenSansSemibold";
    color: #bbb7b7;
    text-indent: 10px;
    margin-bottom: 10px!important;
}

.moonray-form-error-message{
    display: none!important;	
}

#mindsetpopup .popup .moonray-form{
    border: none!important;
}

div.popup.form input[type="submit"] {
    font: 20px "OpenSansBold";
    color: #303030;
    height: 48px;
    width: 234px;
    display: block;
    background: url(../images/submitback.png) center center no-repeat;
    border: none;
}

.popup.form p.privacy a {
    font: 14px "OpenSansRegular";
    color: #4a4a4a;
}

.popup.form p.privacy {
    background: url(../images/privacy_icon.png) left center no-repeat;
    padding-left: 20px;
    margin-top: 5px;
}

#cover{ position:fixed; top:0; left:0; background:rgba(0,0,0,0.3); z-index:5; width:100%; height:100%; display:none; }

/*animated*/
#mindsetpopup {
    position: relative;
    padding: 0;
    width: 870px;
    height: 395px;
    margin: 20px auto;
    background: #203b5b;
    -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
}
#mindsetpopup .mfp-close {
    background-color: #151e2d !important;
    color: #ccd8e0;
    font-family: Arial,Baskerville,monospace;
    font-size: 22px;
    font-style: normal;
    height: 28px;
    line-height: 28px;
    opacity: 1;
    position: absolute;
    right: -14px !important;
    top: -14px !important;
    width: 28px;
    -webkit-box-shadow: 0px 0px 0px 1px #ccd8e0;
    box-shadow: 0px 0px 0px 1px #ccd8e0;
    border-radius: 50%;
}
.animated {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    20% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20%, 0);
        transform: translate3d(0, -20%, 0);
    }

    20% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.testimonial blockquote,
.testimonial p
{
	margin: 0;
}


.holder p {
    font-family: 'opensanssemibolditalic';
    font-size: 18px;
    color: #e8e0c6;
    line-height: 20px;
}

.info p {
    font-size: 16px;
    font-family: 'opensansitalic';
    color: #44658d;
    line-height: 22px;
}

cite {
    font-size: 19px !important;
    font-family: 'opensansbold' !important;
    font-style: normal !important;
    color: #a5955e !important;
}

.enroll blockquote {
    width: 86%;
    margin: 0 auto;
}

.block-quote {
    font-family: 'Bigshot One', sans-serif;
    text-decoration: none !important;
    font-size: 50px;
    color: #a5955e;
    transform: translateY(15px);
    display: inline-block;
}

blockquote p {
    margin-bottom: 15px !important;
}

.paypal {
    text-align: center;
}

.holder.testimonial {
    padding-top: 32px;
}

.news-content p {
    font-size: 16px;
    color: #fffefe;
    font-family: 'OpenSansRegular';
    line-height: 24px;
}

.news-content span {
    font-size: 16px;
    color: #fffefe;
    font-family: 'OpenSansBold';
    text-decoration: underline;
}

#about_chris .img-holder {
    float: left !important;
}

.testimonial > blockquote {
    color: #e8e0c6;
    font-family: 'opensanssemibolditalic';
}

#enroll .testimonial {
    margin: 0 auto;
    width: 47%;
}

.testimonial-container {
    background-color: #172f4b ;
    min-height: 162px;
    padding-top: 30px;
}

.text {
    margin-right: 9%;
}

.enroll-bg {
    background:url(../images/mindset_bg.jpg) repeat-x;
    width: 100%;
    padding-bottom: 40px;
}

.testimonial-bg {
    background-color: #203b5b;
    height: 116px;
    width: 100%;
}

.testimonial-bg blockquote {
    width: 91%;
    margin: 0 auto;
    padding-top: 25px;
}

.testimonial-bg p {
    font-size: 16px;
    line-height: 18px !important;
}

.author-bg cite {
    line-height: 50px;
    margin-left: 5%;
}

.author-bg {
    background-color: #0f2c4f;
    height: 50px;
    width: 100%;
}

.testimonial-atm .testimonial {
    margin: 0 auto;
    width: 83.7%;
}

#enroll blockquote p {
    line-height: 18px;
}

.head.hide_lesson {
    background: none;
}

.head.hide_lesson:hover {
    background: none !important;
}