@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);
.form-group,
.form-item {
  margin-bottom: 5px;
  *zoom: 1;
}
.form-group:before,
.form-item:before,
.form-group:after,
.form-item:after {
  content: "";
  display: table;
}
.form-group:after,
.form-item:after {
  clear: both;
}
.form-controls {
  margin-top: 32px;
}
label {
  display: block;
  font: 700 12px/32px 'Open Sans', sans-serif;
  color: #7fa0ea;
}
.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
}
.input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 13px 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
  background: #FDFDFD;
  outline: 0;
}
.select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #878787;
  padding-right: 50px;
  text-indent: 0.01px;
  text-overflow: '';
  background-image: url('../images/select.png');
  background-position: center right;
  background-repeat: no-repeat;
  border-radius: 30px;
  outline: 0;
  cursor: pointer;
  vertical-align: bottom;
}
.select::-ms-expand {
  display: none;
}
.textarea {
  width: 100%;
  min-height: 110px;
  padding: 13px 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
  background-color: #fdfdfd;
  resize: vertical;
  outline: 0;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
}
input[type="button"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="text"],
input[type="tel"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
}
input[type="button"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="reset"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="submit"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  padding-top: 0;
  padding-bottom: 0;
  font: 400 12px/20px 'Open Sans', sans-serif;
  color: #878787;
}
input[type="button"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="reset"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="submit"]:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  padding-top: 0;
  padding-bottom: 0;
  font: 400 12px/20px 'Open Sans', sans-serif;
  color: #878787;
}
input[type="button"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="reset"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="submit"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  padding-top: 0;
  padding-bottom: 0;
  font: 400 12px/20px 'Open Sans', sans-serif;
  color: #878787;
}
input[type="button"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="reset"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="submit"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  padding-top: 0;
  padding-bottom: 0;
  font: 400 12px/20px 'Open Sans', sans-serif;
  color: #878787;
}
input[type="date"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 13px 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
  background: #FDFDFD;
  outline: 0;
}
select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #878787;
  padding-right: 50px;
  text-indent: 0.01px;
  text-overflow: '';
  background-image: url('../images/select.png');
  background-position: center right;
  background-repeat: no-repeat;
  border-radius: 30px;
  outline: 0;
  cursor: pointer;
  vertical-align: bottom;
}
select::-ms-expand {
  display: none;
}
textarea {
  width: 100%;
  min-height: 110px;
  padding: 13px 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
  background-color: #fdfdfd;
  resize: vertical;
  outline: 0;
}
input[type="checkbox"].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
input[type="checkbox"].css-checkbox + label.css-checkbox-label {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 60px;
  font: 400 22px/35px 'Open Sans', sans-serif;
  color: #2e2e2e;
  background-image: url('../images/sprite-checkbox.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.css-checkbox-label {
  background-position: -28px -10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 192), (min-resolution: 192dppx) {
  .css-checkbox-label {
    background-size: 35px;
    background-position: -4px -105px;
  }
}
input[type="checkbox"].css-checkbox:checked + label.css-checkbox-label {
  background-position: -28px -145px;
}
@media (-webkit-min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 192), (min-resolution: 192dppx) {
  input[type="checkbox"].css-checkbox:checked + label.css-checkbox-label {
    background-size: 35px;
    background-position: -4px -171px;
  }
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  display: block;
  height: 0;
  width: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.l-full {
  width: 100%;
}
.l-align-left {
  text-align: left;
}
.l-align-center {
  text-align: center;
}
.l-align-right {
  text-align: right;
}
.l-align-justify {
  text-align: justify;
}
.l-text-lowercase {
  text-transform: lowercase;
}
.l-text-capitalize {
  text-transform: capitalize;
}
.l-text-uppercase {
  text-transform: uppercase;
}
.l-text-nowrap {
  white-space: nowrap;
}
.l-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.l-fixed {
  position: fixed;
  top: 0;
}
.l-center {
  margin-left: auto;
  margin-right: auto;
}
.l-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.l-stacked {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.l-stacked > li {
  display: block;
}
.l-block {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.l-block > li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}
.l-floated {
  list-style-type: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.l-floated:before,
.l-floated:after {
  content: "";
  display: table;
}
.l-floated:after {
  clear: both;
}
.l-floated > li {
  float: left;
  display: block;
}
.absolute-centered {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.greyscale {
  -webkit-filter: blur(0px) grayscale(1);
  -moz-filter: blur(0px) grayscale(1);
  -o-filter: blur(0px) grayscale(1);
  -ms-filter: blur(0px) grayscale(1);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: blur(0px) grayscale(1);
          filter: blur(0px) grayscale(1);
}
.greyscale-color {
  -webkit-filter: blur(0px) grayscale(0);
  -moz-filter: blur(0px) grayscale(0);
  -o-filter: blur(0px) grayscale(0);
  -ms-filter: blur(0px) grayscale(0);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
  -webkit-filter: blur(0px) grayscale(0);
          filter: blur(0px) grayscale(0);
}
.vertical-centered {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.very-slow {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}
.sfx-pulldown {
  animation-name: sfx-pulldown;
  -webkit-animation-name: sfx-pulldown;
  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}
@keyframes sfx-pulldown {
  0% {
    -webkit-transform: scaleY(0.1);
            transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
            transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
            transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
            transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
            transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes sfx-pulldown {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
.sfx-zoomindown {
  -webkit-animation-name: sfx-zoomindown;
  animation-name: sfx-zoomindown;
}
@-webkit-keyframes sfx-zoomindown {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes sfx-zoomindown {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.sfx-slideLeft {
  animation-name: sfx-slideLeft;
  -webkit-animation-name: sfx-slideLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@keyframes sfx-slideLeft {
  0% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
  }
  50% {
    -webkit-transform: translateX(-8%);
            transform: translateX(-8%);
  }
  65% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  80% {
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
  }
  95% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes sfx-slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }
  50% {
    -webkit-transform: translateX(-8%);
  }
  65% {
    -webkit-transform: translateX(4%);
  }
  80% {
    -webkit-transform: translateX(-4%);
  }
  95% {
    -webkit-transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
.sfx-slideRight {
  animation-name: sfx-slideRight;
  -webkit-animation-name: sfx-slideRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@keyframes sfx-slideRight {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  50% {
    -webkit-transform: translateX(8%);
            transform: translateX(8%);
  }
  65% {
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
  }
  80% {
    -webkit-transform: translateX(4%);
            transform: translateX(4%);
  }
  95% {
    -webkit-transform: translateX(-2%);
            transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes sfx-slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }
  50% {
    -webkit-transform: translateX(8%);
  }
  65% {
    -webkit-transform: translateX(-4%);
  }
  80% {
    -webkit-transform: translateX(4%);
  }
  95% {
    -webkit-transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
.sfx-floating {
  animation-name: sfx-floating;
  -webkit-animation-name: sfx-floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes sfx-floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes sfx-floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(25%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
body {
  background-color: #FDFDFD;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #777;
}
.custom_container {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  *zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.row-no_padding {
  *zoom: 1;
  margin-left: 0;
  margin-right: 0;
}
.row-no_padding:before,
.row-no_padding:after {
  content: "";
  display: table;
}
.row-no_padding:after {
  clear: both;
}
.row-no_padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no_padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
[class*="icon-"] {
  display: inline-block;
}
.icon-arrow-down {
  background-image: url(../images/sprite.png);
  background-position: -206px -79px;
  width: 28px;
  height: 14px;
}
.icon-book {
  background-image: url(../images/sprite.png);
  background-position: -39px -168px;
  width: 35px;
  height: 29px;
}
.icon-envelope {
  background-image: url(../images/sprite.png);
  background-position: -206px -61px;
  width: 24px;
  height: 18px;
}
.icon-hero-calendar {
  background-image: url(../images/sprite.png);
  background-position: -206px -31px;
  width: 29px;
  height: 30px;
}
.icon-hero-clock {
  background-image: url(../images/sprite.png);
  background-position: -206px 0px;
  width: 30px;
  height: 31px;
}
.icon-hero-pin {
  background-image: url(../images/sprite.png);
  background-position: -116px -60px;
  width: 28px;
  height: 34px;
}
.icon-hero-statue {
  background-image: url(../images/sprite.png);
  background-position: -206px -93px;
  width: 18px;
  height: 20px;
}
.icon-logo {
  background-image: url(../images/sprite.png);
  background-position: -36px -128px;
  width: 42px;
  height: 28px;
}
.icon-microphone {
  background-image: url(../images/sprite.png);
  background-position: 0px -168px;
  width: 39px;
  height: 30px;
}
.button.disabled,
.button[disabled],
fieldset[disabled] .button {
  pointer-events: none;
  cursor: not-allowed;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.button {
  display: inline-block;
  padding: 15px 50px;
  text-align: center;
  text-transform: uppercase;
  font: 700 20px/20px 'Open Sans', sans-serif;
  color: #303030;
  border-radius: 5px;
  background: linear-gradient(0deg, #ffa800 0%, #ffb600 47%, #ffc600 50%);
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.8);
  border: 1px solid #FDA700;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  outline: 0;
}
.button:hover {
  color: #000;
  text-decoration: none;
  background: #FDA700;
}
.header {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #0C2E86;
}
@media only screen and (max-width: 767px) {
  .header {
    text-align: center;
  }
}
.logo img {
  display: block;
}
@media only screen and (max-width: 767px) {
  .logo {
    display: inline-block;
    float: none;
  }
}
@media only screen and (min-width: 768px) {
  .logo {
    float: left;
  }
}
.header--menu {
  line-height: 28px;
}
.header--menu li {
  padding: 5px 20px;
}
.header--menu a {
  font: 400 14px/18px 'Open Sans', sans-serif;
  color: #FFF;
}
@media only screen and (max-width: 767px) {
  .header--menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .header--menu > li {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .header--menu {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .header--menu > li {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
  }
}
.section_hero {
  padding-bottom: 50px;
  background-repeat: center bottom;
}
@media only screen and (max-width: 767px) {
  .section_hero {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .section_hero {
    background-image: url('../images/banners/background-hero.jpg') !important;
  }
}
@media only screen and (min-width: 768px) {
  .section_hero {
    padding-top: 160px;
  }
}
.section_hero .title {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
}
@media only screen and (max-width: 767px) {
  .section_hero .title {
    font: 600 34px/50px 'Open Sans', sans-serif;
  }
}
@media only screen and (min-width: 768px) {
  .section_hero .title {
    font: 600 54px/70px 'Open Sans', sans-serif;
  }
}
.section_hero .subtitle {
  margin-top: 20px;
  margin-bottom: 0;
  font: 400 30px/30px 'Open Sans', sans-serif;
  color: #ffcb04;
}
@media only screen and (min-width: 768px) {
  .section_hero--promo {
    float: right;
    max-width: 710px;
  }
}
.section_hero--list {
  margin-top: 100px;
}
.section_hero--list .bubble__double {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .section_hero--list .bubble__double {
    padding-right: 180px !important;
  }
}
.section_hero--list .bubble {
  position: relative;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px 40px 15px 70px;
  text-align: left;
  background: rgba(10, 34, 99, 0.8);
  border-radius: 35px;
}
.section_hero--list .bubble i {
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  margin: auto;
}
.section_hero--list .bubble .inner {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px 20px 10px 50px;
  border: 1px solid #1C3578;
  border-radius: 29px;
}
@media only screen and (max-width: 767px) {
  .section_hero--list .bubble .inner {
    display: none;
  }
}
.section_hero--list .bubble .inner-name {
  margin-top: 0;
  margin-bottom: 0;
  font: 600 14px/19px 'Open Sans', sans-serif;
  color: #FFF;
}
.section_hero--list .bubble--name {
  margin-top: 0;
  margin-bottom: 0;
  font: 700 12px/12px 'Open Sans', sans-serif;
  color: #7fa0ea;
}
.section_hero--list .bubble--date {
  margin-top: 5px;
  margin-bottom: 3px;
  font: 700 20px/20px 'Open Sans', sans-serif;
  color: #FFF;
}
.section_registernow {
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_registernow .title {
  margin-top: 0;
  margin-bottom: 0;
  font: 300 30px/50px 'Open Sans', sans-serif;
  color: #7fa0ea;
}
.section_registernow--list {
  margin-top: 40px;
  margin-bottom: 50px;
}
.section_registernow--list > li {
  margin-bottom: 10px;
}
.section_registernow--list a {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  text-align: center;
  font: 700 18px/20px 'Open Sans', sans-serif;
  color: #FFF;
  border-top: 2px solid #325B8D;
  border-bottom: 2px solid #325B8D;
}
@media only screen and (max-width: 991px) {
  .section_registernow--list a {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .section_registernow--list a {
    width: 400px;
  }
}
.section_registernow--list a:before,
.section_registernow--list a:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 5px;
  background-image: url('../images/banners/shape1.png');
  background-repeat: repeat-y;
}
.section_registernow--list a:before {
  left: 0;
  background-position: center left;
}
.section_registernow--list a:after {
  right: 0;
  background-position: center right;
}
.section_registernow--list a .hover_hax {
  display: block;
  padding: 30px 0;
  transition: all 0.2s ease-in-out;
}
.section_registernow--list a:hover {
  color: #303030;
  border-color: #ffb500;
}
.section_registernow--list a:hover .hover_hax {
  background-color: #ffb500;
}
.section_registernow--list a:hover:before,
.section_registernow--list a:hover:after {
  background-image: url('../images/banners/shape2.png');
}
@media only screen and (max-width: 767px) {
  .section_registernow--list__left,
  .section_registernow--list__right {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .section_registernow--list__left {
    text-align: right;
  }
}
@media only screen and (min-width: 768px) {
  .section_registernow--list__right {
    text-align: left;
  }
}
.section_registernow .scroll-down {
  display: inline-block;
  line-height: 14px;
  animation-name: sfx-floating;
  -webkit-animation-name: sfx-floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.section_about {
  padding-top: 60px;
  padding-bottom: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .section_about {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .section_about .image {
    float: left;
  }
  .section_about .floating_fluid {
    margin-left: 380px;
  }
}
.section_about .image {
  display: inline-block;
  width: 321px;
  height: 321px;
}
.section_about .title {
  margin-top: 0;
  margin-bottom: 0;
  font: 300 36px/64px 'Open Sans', sans-serif;
  color: #203b5b;
}
.section_about .title span {
  vertical-align: middle;
}
.section_about .title .i--wrapper {
  display: inline-block;
  position: relative;
  margin-right: 30px;
  width: 64px;
  height: 64px;
  background-color: #FFF;
  border-radius: 50%;
}
.section_about .title i {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.section_about .quote {
  margin-top: 50px;
  margin-bottom: 0;
  font: 400 italic 19px/28px 'Open Sans', sans-serif;
  color: #2c2c2c;
}
.section_about .author {
  margin-top: 35px;
  font: 600 19px/20px 'Open Sans', sans-serif;
  color: #4f739d;
}
.section_about .occupation {
  margin-top: 5px;
  font: 400 italic 19px/25px 'Open Sans', sans-serif;
  color: #2c2c2c;
}
.section_introduction {
  padding-top: 100px;
  padding-bottom: 70px;
}
.section_introduction .title {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 90px;
  padding: 25px 10px;
  text-align: center;
  font: 300 35px/50px 'Open Sans', sans-serif;
  color: #FFF;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .section_introduction .title {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .section_introduction .title {
    width: 725px;
  }
}
.section_introduction .title > * {
  vertical-align: middle;
}
.section_introduction .title i {
  margin-right: 35px;
}
@media only screen and (max-width: 767px) {
  .section_introduction .custom_container {
    text-align: center;
  }
  .section_introduction .custom_container .description {
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  .section_introduction .image {
    float: left;
  }
  .section_introduction .floating_fluid {
    margin-left: 390px;
  }
}
.section_introduction .subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font: 400 24px/24px 'Open Sans', sans-serif;
  color: #0590d0;
}
.section_introduction .description {
  margin-top: 30px;
  margin-bottom: 0;
  font: 400 16px/24px 'Open Sans', sans-serif;
  color: #2c2c2c;
}
.section_introduction .description strong {
  font-weight: 700;
}
.section_seminar {
  padding-top: 65px;
  padding-bottom: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_seminar .title {
  margin-top: 0;
  margin-bottom: 40px;
  font: 400 24px/24px 'Open Sans', sans-serif;
  color: #0590d0;
}
.section_seminar--list_topics {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 992px) {
  .section_seminar--list_topics {
    width: 700px;
    float: left;
  }
}
.section_seminar--list_topics > li {
  padding: 30px 15px 30px 45px;
  font: 600 16px/30px 'Open Sans', sans-serif;
  color: #2c2c2c;
  border-bottom: 1px solid #ECF5F9;
  background-color: #FDFDFD;
}
@media only screen and (max-width: 767px) {
  .section_seminar--list_topics > li {
    padding-left: 15px;
  }
}
.section_seminar--list_topics > li:first-child {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 25px;
}
.section_seminar--list_topics > li:nth-child(2n+1) {
  background-color: #F7FBFD;
}
.section_seminar--list_speakers {
  margin-top: 30px;
}
@media only screen and (max-width: 991px) {
  .section_seminar--list_speakers {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .section_seminar--list_speakers > li {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
  }
}
@media only screen and (min-width: 992px) {
  .section_seminar--list_speakers {
    width: 183px;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .section_seminar--list_speakers > li {
    display: block;
  }
}
.section_seminar--list_speakers > li {
  margin-top: 30px;
}
.section_register {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #FFF;
}
.section_register .custom_container {
  padding: 70px 15px 50px;
  border: 2px solid #E8F2F6;
}
.section_register .title {
  margin-top: 0;
  margin-bottom: 0;
  font: 600 42px/45px 'Open Sans', sans-serif;
  color: #0074a9;
}
.section_register .subtitle {
  margin-top: 10px;
  margin-bottom: 0;
  font: 300 28px/45px 'Open Sans', sans-serif;
  color: #203b5b;
}
.section_register .section_registernow--list {
  margin-top: 50px;
  margin-bottom: 45px;
}
.section_register .section_registernow--list a {
  border-color: #203B5A;
}
.section_register .section_registernow--list a:before,
.section_register .section_registernow--list a:after {
  background-image: url('../images/banners/shape3.png');
}
.section_register .section_registernow--list a .hover_hax {
  padding-top: 18px;
  padding-bottom: 18px;
  font: 700 15px/20px 'Open Sans', sans-serif;
  color: #FFF;
  background-color: #203B5A;
}
.section_register .section_registernow--list a:hover {
  border-color: #FFB500;
}
.section_register .section_registernow--list a:hover:before,
.section_register .section_registernow--list a:hover:after {
  background-image: url('../images/banners/shape2.png');
}
.section_register .section_registernow--list a:hover .hover_hax {
  color: #303030;
  background-color: #FFB500;
}
.section_register .wrap-envelope {
  display: block;
  position: relative;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 236px;
  height: 18px;
  padding: 0;
  border-bottom: 2px solid #eaf4f8;
}
.section_register .wrap-envelope .i-wrap {
  display: inline-block;
  position: absolute;
  bottom: -9px;
  left: 0;
  right: 0;
  margin: auto;
  height: 18px;
  width: 44px;
  padding: 0;
  text-align: center;
  background-color: #FFF;
}
.section_register .details {
  font: 400 15px/20px 'Open Sans', sans-serif;
  color: #203b5b;
}
.section_register .details a {
  font-weight: 700;
  color: #7fa0ea;
}
.section_maps {
  height: 400px;
}
.section_maps .l-custom {
  width: 360px;
}
.section_maps div {
  border: 0 !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 0 !important;
}
.section_maps--popup {
  white-space: nowrap;
}
.section_maps--popup--title {
  padding-left: 20px;
  padding-right: 60px;
  font: 600 22px/30px 'Open Sans', sans-serif;
  color: #0074a9;
}
.section_maps--popup--name {
  position: relative;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 35px;
  font: 700 12px/20px 'Open Sans', sans-serif;
  color: #28476c;
}
.section_maps--popup--name:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  margin: auto;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #2a507e;
}
.section_maps--popup--description {
  padding-left: 35px;
  font: 600 16px/20px 'Open Sans', sans-serif;
  color: #2c2c2c;
}
.section_contact {
  padding-top: 65px;
  padding-bottom: 70px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section_contact .custom_container {
  max-width: 600px;
}
.section_contact .title {
  margin-top: 0;
  margin-bottom: 35px;
  text-indent: 10px;
  font: 400 22px/25px 'Open Sans', sans-serif;
  color: #4f739d;
}
.section_contact .custom_padding {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.footer {
  padding: 40px 10px;
  font: 400 14px/20px 'Open Sans', sans-serif;
  color: #2c2c2c;
}
div.wpcf7 img.ajax-loader {
  display: none;
}
span.wpcf7-not-valid-tip {
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  color: #a94442;
}
div.wpcf7-validation-errors {
  font-size: 16px;
  line-height: 24px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
div.wpcf7-mail-sent-ok {
  font-size: 16px;
  line-height: 24px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
