@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300);
.form-group,
.form-item {
  margin-bottom: 5px;
  *zoom: 1;
}
.form-group:before,
.form-item:before,
.form-group:after,
.form-item:after {
  content: "";
  display: table;
}
.form-group:after,
.form-item:after {
  clear: both;
}
.form-controls {
  margin-top: 32px;
}
label {
  display: block;
  font: 700 12px/32px 'Open Sans', sans-serif;
  color: #7fa0ea;
}
.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 13px 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
  background: #FDFDFD;
  outline: 0;
}
.select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #878787;
  padding-right: 50px;
  text-indent: 0.01px;
  text-overflow: '';
  background-image: url('../images/select.png');
  background-position: center right;
  background-repeat: no-repeat;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  outline: 0;
  cursor: pointer;
  vertical-align: bottom;
}
.select::-ms-expand {
  display: none;
}
.textarea {
  width: 100%;
  min-height: 110px;
  padding: 13px 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
  background-color: #fdfdfd;
  resize: vertical;
  outline: 0;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
input[type="button"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="search"],
input[type="submit"],
input[type="text"],
input[type="tel"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
input[type="button"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="reset"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="submit"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  padding-top: 0;
  padding-bottom: 0;
  font: 400 12px/20px 'Open Sans', sans-serif;
  color: #878787;
}
input[type="button"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="reset"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="submit"]:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  padding-top: 0;
  padding-bottom: 0;
  font: 400 12px/20px 'Open Sans', sans-serif;
  color: #878787;
}
input[type="button"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="reset"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="submit"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  padding-top: 0;
  padding-bottom: 0;
  font: 400 12px/20px 'Open Sans', sans-serif;
  color: #878787;
}
input[type="button"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="reset"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="submit"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  padding-top: 0;
  padding-bottom: 0;
  font: 400 12px/20px 'Open Sans', sans-serif;
  color: #878787;
}
input[type="date"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 13px 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
  background: #FDFDFD;
  outline: 0;
}
select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #878787;
  padding-right: 50px;
  text-indent: 0.01px;
  text-overflow: '';
  background-image: url('../images/select.png');
  background-position: center right;
  background-repeat: no-repeat;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  outline: 0;
  cursor: pointer;
  vertical-align: bottom;
}
select::-ms-expand {
  display: none;
}
textarea {
  width: 100%;
  min-height: 110px;
  padding: 13px 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
  background-color: #fdfdfd;
  resize: vertical;
  outline: 0;
}
input[type="checkbox"].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
input[type="checkbox"].css-checkbox + label.css-checkbox-label {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 60px;
  font: 400 22px/35px 'Open Sans', sans-serif;
  color: #2e2e2e;
  background-image: url('../images/sprite-checkbox.png');
  background-repeat: no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.css-checkbox-label {
  background-position: -28px -10px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  .css-checkbox-label {
    background-size: 35px;
    background-position: -4px -105px;
  }
}
input[type="checkbox"].css-checkbox:checked + label.css-checkbox-label {
  background-position: -28px -145px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
  input[type="checkbox"].css-checkbox:checked + label.css-checkbox-label {
    background-size: 35px;
    background-position: -4px -171px;
  }
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  display: block;
  height: 0;
  width: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.l-full {
  width: 100%;
}
.l-align-left {
  text-align: left;
}
.l-align-center {
  text-align: center;
}
.l-align-right {
  text-align: right;
}
.l-align-justify {
  text-align: justify;
}
.l-no-overflow {
  overflow: hidden;
}
.l-text-lowercase {
  text-transform: lowercase;
}
.l-text-capitalize {
  text-transform: capitalize;
}
.l-text-uppercase {
  text-transform: uppercase;
}
.l-text-nowrap {
  white-space: nowrap;
}
.l-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.l-fixed {
  position: fixed;
  top: 0;
}
.l-center {
  margin-left: auto;
  margin-right: auto;
}
.l-unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.l-stacked {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.l-stacked > li {
  display: block;
}
.l-block {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.l-block > li {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}
.l-floated {
  list-style-type: none;
  margin: 0;
  padding: 0;
  *zoom: 1;
}
.l-floated:before,
.l-floated:after {
  content: "";
  display: table;
}
.l-floated:after {
  clear: both;
}
.l-floated > li {
  float: left;
  display: block;
}
.absolute-centered {
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.greyscale {
  -webkit-filter: blur(0px) grayscale(1);
  -moz-filter: blur(0px) grayscale(1);
  -o-filter: blur(0px) grayscale(1);
  -ms-filter: blur(0px) grayscale(1);
  filter: blur(0px) grayscale(1);
}
.greyscale-color {
  -webkit-filter: blur(0px) grayscale(0);
  -moz-filter: blur(0px) grayscale(0);
  -o-filter: blur(0px) grayscale(0);
  -ms-filter: blur(0px) grayscale(0);
  filter: blur(0px) grayscale(0);
}
.vertical-centered {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
.slow {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
.very-slow {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}
.sfx-pulldown {
  animation-name: sfx-pulldown;
  -webkit-animation-name: sfx-pulldown;
  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}
@keyframes sfx-pulldown {
  0% {
    transform: scaleY(0.1);
  }
  40% {
    transform: scaleY(1.02);
  }
  60% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(0.98);
  }
  80% {
    transform: scaleY(1.01);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes sfx-pulldown {
  0% {
    -webkit-transform: scaleY(0.1);
  }
  40% {
    -webkit-transform: scaleY(1.02);
  }
  60% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(0.98);
  }
  80% {
    -webkit-transform: scaleY(1.01);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}
.sfx-zoomindown {
  -webkit-animation-name: sfx-zoomindown;
  animation-name: sfx-zoomindown;
}
@-webkit-keyframes sfx-zoomindown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes sfx-zoomindown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.sfx-slideLeft {
  animation-name: sfx-slideLeft;
  -webkit-animation-name: sfx-slideLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@keyframes sfx-slideLeft {
  0% {
    transform: translateX(150%);
  }
  50% {
    transform: translateX(-8%);
  }
  65% {
    transform: translateX(4%);
  }
  80% {
    transform: translateX(-4%);
  }
  95% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes sfx-slideLeft {
  0% {
    -webkit-transform: translateX(150%);
  }
  50% {
    -webkit-transform: translateX(-8%);
  }
  65% {
    -webkit-transform: translateX(4%);
  }
  80% {
    -webkit-transform: translateX(-4%);
  }
  95% {
    -webkit-transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
.sfx-slideRight {
  animation-name: sfx-slideRight;
  -webkit-animation-name: sfx-slideRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@keyframes sfx-slideRight {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(8%);
  }
  65% {
    transform: translateX(-4%);
  }
  80% {
    transform: translateX(4%);
  }
  95% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes sfx-slideRight {
  0% {
    -webkit-transform: translateX(-150%);
  }
  50% {
    -webkit-transform: translateX(8%);
  }
  65% {
    -webkit-transform: translateX(-4%);
  }
  80% {
    -webkit-transform: translateX(4%);
  }
  95% {
    -webkit-transform: translateX(-2%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
.sfx-floating {
  animation-name: sfx-floating;
  -webkit-animation-name: sfx-floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes sfx-floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes sfx-floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(25%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
.sfx-fadeindown {
  -webkit-animation-name: sfx-fadeindown;
  animation-name: sfx-fadeindown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes sfx-fadeindown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
body {
  background-color: #FDFDFD;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #777;
}
.custom_container {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  *zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1010px;
  }
}
@media only screen and (min-width: 1300px) {
  .container {
    width: 1010px;
  }
}
.row-no_padding {
  *zoom: 1;
  margin-left: 0;
  margin-right: 0;
}
.row-no_padding:before,
.row-no_padding:after {
  content: "";
  display: table;
}
.row-no_padding:after {
  clear: both;
}
.row-no_padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no_padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
[class*="icon-"] {
  display: inline-block;
}
.icon-quote {
  background-image: url('../library/images/quote_left_blue.png');
  background-position: 0px 0px;
  width: 15px;
  height: 13px;
}
.button.disabled,
.button[disabled],
fieldset[disabled] .button {
  pointer-events: none;
  cursor: not-allowed;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  opacity: 0.65;
  filter: alpha(opacity=65);
}
.button {
  display: inline-block;
  padding: 15px 50px;
  text-align: center;
  text-transform: uppercase;
  font: 700 20px/20px 'Open Sans', sans-serif;
  color: #303030;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-linear-gradient(90deg, #ffa800 0%, #ffb600 47%, #ffc600 50%);
  background: -moz-linear-gradient(90deg, #ffa800 0%, #ffb600 47%, #ffc600 50%);
  background: -o-linear-gradient(90deg, #ffa800 0%, #ffb600 47%, #ffc600 50%);
  background: -ms-linear-gradient(90deg, #ffa800 0%, #ffb600 47%, #ffc600 50%);
  background: linear-gradient(0deg, #ffa800 0%, #ffb600 47%, #ffc600 50%);
  -webkit-box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.8);
  -moz-box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.8);
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.8);
  border: 1px solid #FDA700;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  outline: 0;
}
.button:hover {
  color: #000;
  text-decoration: none;
  background: #FDA700;
}
.header {
  border-top: 5px solid #203b5b;
  background: #FFF;
}
.header .logo {
  display: inline-block;
}
.header .logo img {
  display: block;
}
.header--list li {
  height: 96px;
}
.main {
  margin-top: -96px;
}
.section-hero {
  padding-top: 130px;
  padding-bottom: 250px;
  border-bottom: 10px solid #ABBAC3;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.section-hero .title {
  margin-top: 0;
  margin-bottom: 0;
  font: 600 42px/60px 'Open Sans', sans-serif;
  color: #0074a9;
}
.section-hero .subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font: 300 28px/38px 'Open Sans', sans-serif;
  color: #203b5b;
}
[class*="col__"] .image {
  display: inline-block;
}
.col__typography h1,
.col__typography h2,
.col__typography h3,
.col__typography h4,
.col__typography h4,
.col__typography h6 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #0590d0;
}
.col__typography h3 {
  font: 400 24px/24px 'Open Sans', sans-serif;
}
.col__typography p {
  margin-bottom: 0;
  font: 400 16px/24px 'Open Sans', sans-serif;
  color: #2c2c2c;
}
.col__typography strong {
  font-weight: 700;
}
.col__typography blockquote {
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px 15px 50px 100px;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #203b5b;
  background-color: #E8F2F6;
  border-left: 0;
}
.col__typography blockquote i {
  position: absolute;
  top: 58px;
  left: 77px;
}
.col__typography ol,
.col__typography ul {
  margin-top: 30px;
  margin-bottom: 30px;
  list-style-type: none;
  padding-left: 0;
}
.col__typography ol > li,
.col__typography ul > li {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 45px;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #203b5b;
  background-color: #eaf4f8;
}
.col__typography ol {
  counter-reset: counter;
}
.col__typography ol > li {
  counter-increment: counter;
  position: relative;
  margin-bottom: 10px;
  text-indent: 15px;
  border: 1px solid #068FCE;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0px 0px 10px #FFF;
  -moz-box-shadow: inset 0px 0px 10px #FFF;
  box-shadow: inset 0px 0px 10px #FFF;
}
.col__typography ol > li:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 44px;
  height: 48px;
  font: 700 20px/48px 'Open Sans', sans-serif;
  color: #16709a;
  border-right: 2px solid #FFF;
  content: counter(counter);
}
.col__typography ul > li {
  margin-bottom: 20px;
}
.col__typography ul > li.li__white {
  margin-top: -5px;
  margin-bottom: 15px;
  padding: 0;
  line-height: 20px;
  background: none;
}
@media only screen and (max-width: 991px) {
  .col__image {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .col__left {
    float: left;
    width: 58%;
    padding-left: 15px;
  }
  .col__left.col__image {
    width: 42%;
    text-align: left;
  }
  .col__right {
    float: right;
    width: 58%;
    padding-right: 15px;
  }
  .col__right.col__image {
    width: 42%;
    text-align: right;
  }
}
.section--heading {
  margin-bottom: 0;
  padding: 40px 15px;
  text-align: center;
  font: 300 34px/40px 'Open Sans', sans-serif;
  color: #FFF;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.history_route {
  position: relative;
  z-index: 10;
  margin: 0 !important;
  width: 8px;
}
@media only screen and (max-width: 991px) {
  .history_route {
    display: none;
  }
}
.history_route > li {
  margin: 0 !important;
  padding: 0 !important;
}
.history_route .body {
  width: 4px;
  height: 100%;
  background-color: #eaf4f8;
}
.history_route .top,
.history_route .bottom {
  position: absolute;
  left: -2px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #203b5b;
}
.history_route .top {
  top: 0;
}
.history_route .bottom {
  bottom: 0;
}
.section-one {
  margin-top: 60px;
}
.section-one .section--heading {
  position: relative;
  margin-top: 80px;
}
.section-one .history_route {
  position: absolute;
  top: 100%;
  left: 15px;
  height: 45px;
}
.section-two {
  margin-top: 60px;
}
.section-two .container {
  position: relative;
}
.section-two .history_route {
  position: absolute;
  bottom: -100px;
  left: 42%;
  height: 110px;
}
.section-three {
  margin-top: 120px;
}
.section-three .container {
  position: relative;
}
.section-three .history_route {
  position: absolute;
  top: 100%;
  left: 15px;
  height: 80px;
}
.section-four {
  margin-top: 120px;
}
.section-five {
  margin-top: 24px;
}
.section-five .container {
  position: relative;
}
.section-five .history_route {
  position: absolute;
  top: 100%;
  left: 42%;
  height: 80px;
}
.section-six {
  margin-top: 120px;
}
.section-six .container {
  position: relative;
}
.section-six .history_route {
  position: absolute;
  top: 100%;
  left: 15px;
  height: 80px;
}
.section-seven {
  margin-top: 120px;
}
.section-seven .container {
  position: relative;
}
.section-seven .history_route {
  position: absolute;
  top: 100%;
  left: 42%;
  height: 80px;
}
.section-eight {
  margin-top: 100px;
}
.section-eight .container {
  position: relative;
}
.section-eight .history_route {
  position: absolute;
  top: 100%;
  left: 15px;
  height: 80px;
}
.section-nine {
  margin-top: 120px;
}
.section-nine .container {
  position: relative;
}
.section-nine .history_route {
  position: absolute;
  bottom: -100px;
  left: 42%;
  height: 80px;
}
.section-ten {
  margin-top: 130px;
}
.section-ten .section--heading {
  margin-top: 70px;
  position: relative;
}
.section-ten .history_route {
  position: absolute;
  top: 100%;
  left: 15px;
  height: 80px;
}
.section-eleven {
  margin-top: 100px;
}
.section-eleven .container {
  position: relative;
}
.section-eleven .history_route {
  position: absolute;
  bottom: -50px;
  left: 42%;
  height: 80px;
}
.section-twelve {
  margin-top: 80px;
}
.section-twelve .container {
  position: relative;
}
.section-twelve .history_route {
  position: absolute;
  top: 100%;
  left: 30px;
  height: 80px;
}
.section-thirteen {
  margin-top: 110px;
}
.section-thirteen .container {
  position: relative;
}
.section-thirteen .history_route {
  position: absolute;
  top: 100%;
  left: 42%;
  height: 80px;
}
.section-fourteen {
  margin-top: 120px;
}
.section-fourteen .container {
  position: relative;
}
.section-fourteen .history_route {
  position: absolute;
  top: 100%;
  left: 30px;
  height: 80px;
}
.section-fifteen {
  margin-top: 80px;
}
.section-fifteen .container {
  position: relative;
}
.section-fifteen .col__typography h3 {
  margin-top: 30px;
}
.section-fifteen .history_route {
  position: absolute;
  bottom: -50px;
  left: 42%;
  height: 80px;
}
.section-sixteen {
  margin-top: 80px;
}
.section-sixteen .container {
  position: relative;
}
.section-sixteen .history_route {
  position: absolute;
  bottom: -110px;
  left: 30px;
  height: 80px;
}
.section-seventeen {
  margin-top: 140px;
}
.section-seventeen .container {
  position: relative;
}
.section-seventeen .history_route {
  position: absolute;
  bottom: -110px;
  left: 42%;
  height: 80px;
}
.section-eighteen {
  margin-top: 140px;
}
.section-eighteen-two .container {
  position: relative;
}
.section-eighteen-two .col__typography blockquote {
  font-size: 16px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 50px;
  line-height: 24px;
}
.section-eighteen-two .col__typography blockquote i {
  top: 18px;
  left: 30px;
}
.section-eighteen-two .history_route {
  position: absolute;
  top: 100%;
  left: 30px;
  height: 80px;
}
.section-nineteen {
  margin-top: 130px;
}
.section-nineteen .container {
  position: relative;
}
.section-nineteen .history_route {
  position: absolute;
  bottom: -100px;
  left: 42%;
  height: 80px;
}
.section-twenty {
  margin-top: 130px;
}
.section-twenty .section--heading {
  margin-top: 70px;
}
.section-twenty .container {
  position: relative;
}
.section-twenty .history_route {
  position: absolute;
  top: 100%;
  left: 30px;
  height: 80px;
}
.section-twentyone {
  margin-top: 120px;
}
.section-twentyone .container {
  position: relative;
}
.section-twentyone .history_route {
  position: absolute;
  top: 100%;
  left: 42%;
  height: 90px;
}
.section-twentytwo {
  margin-top: 120px;
}
.section-twentytwo .container {
  position: relative;
}
.section-twentytwo .history_route {
  position: absolute;
  bottom: -100px;
  left: 30px;
  height: 46px;
}
.section-twentythree {
  margin-top: 120px;
}
.section-twentythree .section--heading {
  margin-top: 80px;
  position: relative;
}
.section-twentythree .history_route {
  position: absolute;
  top: 100%;
  left: 15px;
  height: 72px;
}
.section-twentyfour {
  margin-top: 100px;
}
.section-twentyfour .container {
  position: relative;
}
.section-twentyfour .history_route {
  position: absolute;
  top: 100%;
  left: 42%;
  height: 90px;
}
.section-twentyfive {
  margin-top: 90px;
}
.section-twentyfive .container {
  position: relative;
}
.section-twentyfive .history_route {
  position: absolute;
  bottom: -85px;
  left: 30px;
  height: 65px;
}
.section-twentyfive .col__typography h3 {
  margin-top: 20px;
}
.section-twentysix {
  margin-top: 110px;
}
.section-twentysix .container {
  position: relative;
}
.section-twentysix .history_route {
  position: absolute;
  top: 100%;
  left: 42%;
  height: 90px;
}
.section-twentyseven {
  margin-top: 110px;
}
.footer {
  margin-top: 130px;
  padding: 40px 10px;
  font: 400 14px/20px 'Open Sans', sans-serif;
  color: #2c2c2c;
  background-color: #EAEAEA;
}
div.wpcf7 img.ajax-loader {
  display: none;
}
span.wpcf7-not-valid-tip {
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  color: #a94442;
}
div.wpcf7-validation-errors {
  font-size: 16px;
  line-height: 24px;
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
div.wpcf7-mail-sent-ok {
  font-size: 16px;
  line-height: 24px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
